<%= line_chart Care.group(:weight).count,height: "400px",xtitle: "日", ytitle: "体重",min: 30, max: 80, curve: false, discrete: true %>

<%#= line_chart @weight.group_by_day(:created_at, last: 7).average(:weight),height: "400px",xtitle: "日", ytitle: "体重",min: 30, max: 80, curve: false %>

<div class = "col-md-8 offset-md-1">
 <div class="header-name">
    <%#= @patient.name %>
  </div>
 
   <h2>データ一覧</h2>
    <table class="table table-striped">
     <thead>
      <tr>
       <th>記録日</th>
       <th>体重</th>
       <th>体温</th>
       <th>血圧</th>
       <th>脈拍</th>
      </tr>
     </thead>
     <tbody>
       <tr>
       <% @cares.each do |care| %>
        <td><%#= link_to care.start_time.strftime("%Y-%m-%d"), patient_care_path[patient_id, care_id] %></td>
        <td><%= care.weight %></td>
        <td><%= care.body_temperature %></td>
        <td><%= care.blood_pressure %></td>
        <td><%= care.pulse_rate %></td>
      </tr>
       <% end %>
      </tbody>
    </table>

 <!--カレンダー表示-->
 <div class="calendar">
  <%= month_calendar events: @cares do |date, cares| %>
    <%= date.day %>
   <% cares.each do |care| %>
    <div>
     <%#= link_to care.id,patient_care_path(patient.id) %>
    </div>
   <% end %>
  <% end %>
</div>

<%#= link_to "新しく記録する", new_patient_care_path[patient.id,care.id], class: "btn btn-success" %>


</div>
