<div class = "col-md-4 offset-md-1">
   <div class="header-name">
    <%= @patient.name %>様
   </div>
   <div>
      <h2>サービス提供記録</h2>
      <p>記録日：<%= @care.start_time.strftime("%Y-%m-%d") %></p>
      <p>記録者：<%= @care.user.name %></p>
      <table class="table table-striped">
        <tbody>
            <tr><td>体重：<%= @care.weight %></td></tr>
            <tr><td>体温：<%= @care.body_temperature %></td></tr>
            <tr> <td>血圧：<%= @care.blood_pressure %></td></tr>
            <tr><td>脈拍：<%= @care.pulse_rate %></td></tr>
            <tr> <td>ケア内容：<%= @care.detail %></td></tr>
        </tbody>
      </table>
    </div>
    <div>
        <% if @user.id == current_user.id %>
          <%= link_to "編集する", edit_patient_care_path, class: "btn btn-success text-white" %>
          <%= link_to "削除する", patient_care_path(@patient.id, @care.id), class: "btn btn-danger text-white", method: :delete, "data-confirm" => "本当に消しますか？" %>
          <div>
          <%= link_to "過去のデータをみる", patient_cares_path(@patient.id) %>
          </div>
         <% end %>
    </div>
</div>