<div class = "col-md-4 offset-md-1">
 <div class="header-name">
   <%= @patient.name %>様
 </div>
   <h1>利用者様基本情報</h1>
   <p>記録日：<%= @patient.created_at %></p>
   <table class="table table-striped">
     <tbody>
         <tr><td>利用者番号：<%= @patient.number %></td></tr>
         <tr><td>お名前：<%= @patient.name %>様</td></tr>
         <tr><td>性別：<%= @patient.gender %></td></tr>
         <tr><td>生年月日：<%= @patient.birthday %></td></tr>
         <tr><td>ご住所：<%= @patient.address %></td></tr>
         <tr><td>電話番号：<%= @patient.phone_number %></td></tr>
         <tr><td>緊急連絡先：<%= @patient.supporters_phone_number %></td></tr>
         <tr><td>緊急連絡先　お名前：<%= @patient.supporters_name %>様</td></tr>
         <tr><td>続柄：<%= @patient.relation %></td></tr>
         <tr><td>主病名：<%= @patient.medical_history %></td></tr>
         <tr><td>アレルギー歴：<%= @patient.allergy %></td></tr>
         <tr><td>その他：<%= @patient.information %></td></tr>
     </tbody>
   </table>

   <%= link_to "ケア入力を行う", new_patient_care_path(@patient), class: "btn btn-success" %>

</div>