<div class = "col-lg-6 md-6 sm-6 offset-md-1">
   <%= render 'patients/information' %>
  <% if user_signed_in? && [1, 2, 3, 4, 5, 6].include?(current_user.genre_name_before_type_cast) %>
   <h1>利用者様基本情報</h1>
   <p>記録日：<%= @patient.created_at.strftime("%Y-%m-%d") %></p>
   <table class="table table-striped">
     <tbody>
         <tr><td>利用者番号：<%= @patient.number %></td></tr>
         <tr><td>お名前：<%= @patient.name %>様</td></tr>
         <tr><td>性別：<%= @patient.gender %></td></tr>
         <tr><td>生年月日：<%= @patient.birthday %></td></tr>
         <tr><td>年齢：<%= (Date.today.strftime("%Y%m%d").to_i - @patient.birthday.strftime("%Y%m%d").to_i) / 10000 %>歳</td></tr>
         <tr><td>ご住所：<%= @patient.address %></td></tr>
         <tr><td>電話番号：<%= @patient.phone_number %></td></tr>
         <tr><td>緊急連絡先：<%= @patient.supporters_phone_number %></td></tr>
         <tr><td>緊急連絡先　お名前：<%= @patient.supporters_name %>様</td></tr>
         <tr><td>続柄：<%= @patient.relation %></td></tr>
         <tr><td>主病名：<%= @patient.main_disease %></td></tr>
         <tr><td>既往歴：<%= @patient.medical_history %></td></tr>
         <tr><td>アレルギー歴：<%= @patient.allergy %></td></tr>
         <tr><td>介護度：<%= @patient.care_level %></td></tr>
         <tr><td>その他：<%= @patient.information %></td></tr>
     </tbody>
   </table>
    <% if user_signed_in? && current_user.genre_name_before_type_cast == 6 %>
     <%= link_to '編集する', edit_patient_path(@patient.id), class: "btn btn-success text-white" %>
    <% end %>
  <% else %>
   <div class="container">
    <%= link_to "タイムラインをみる", patient_posts_path(@patient), class: "btn btn-primary text-white" %>
    <div class = "jumbotron">
     <div class="search-image">
        <%= image_tag '22100004_l.jpg', class: "card-img imag-fluid rounded-0"  %>
      </div>
     </div>
    </div>
  <% end %>
</div>