<div class = "col-md-8 offset-md-1">
   <%= render 'patients/information' %>
  <% if user_signed_in? && [1, 2, 3, 4, 5, 6].include?(current_user.genre_name_before_type_cast) %>
   <h1>利用者様基本情報</h1>
   <p>記録日：<%= @patient.created_at.strftime("%Y-%m-%d") %></p>
   <table class="table table-striped">
     <tbody>
         <tr><td>利用者番号：<%= @patient.number %></td></tr>
         <tr><td>お名前：<%= @patient.name %>様</td></tr>
         <tr><td>性別：<%= @patient.gender %></td></tr>
         <tr><td>生年月日：<%= @patient.birthday %></td></tr>
         <tr><td>ご住所：<%= @patient.address %></td></tr>
         <tr><td>電話番号：<%= @patient.phone_number %></td></tr>
         <tr><td>緊急連絡先：<%= @patient.supporters_phone_number %></td></tr>
         <tr><td>緊急連絡先　お名前：<%= @patient.supporters_name %>様</td></tr>
         <tr><td>続柄：<%= @patient.relation %></td></tr>
         <tr><td>主病名：<%= @patient.medical_history %></td></tr>
         <tr><td>アレルギー歴：<%= @patient.allergy %></td></tr>
         <tr><td>その他：<%= @patient.information %></td></tr>
     </tbody>
   </table>
  <% else %>
   <%= link_to "タイムラインをみる", patient_posts_path(@patient), class: "btn btn-primary text-white" %>
  <% end %>
</div>