<div class="top" style="height:800px; max-width:auto;">
  <div class ="d-flex h-100 text-center">
    <div class="cover-container d-flex w-100 h-00 p-3 mx-auto flex-column">
      <main class="px-3">
        <font size="7">在宅サービスに携わる全ての方</br>みんなで支える</br><strong>It's good for to be home</strong></br></p>
        <div class="wrapper">
        <%= link_to '利用者様', cares_path, class: "col btn btn-green-moon btn-rounded" %>
        <%= link_to '医師', cares_path, class: "btn btn-outline-light btn-sm" %>
        <%= link_to '看護師', cares_path, class: "btn btn-outline-light btn-sm" %>
        <%= link_to '薬剤師', cares_path, class: "btn btn-outline-light btn-sm" %>
        <%= link_to 'リハビリ', cares_path, class: "btn btn-outline-light btn-sm" %>
        <%= link_to '介護士', cares_path, class: "btn btn-outline-light btn-sm" %>
        <%= link_to 'ケアマネ', cares_path, class: "btn btn-outline-light btn-sm" %>
        </div>
      </main>
    </div>
  </div>
</div>
