<div class = "col-md-8 offset-md-1">
  <div class="header-name">
    <%= @patient.name %>様
  </div>
  <div class="timeline-form">
  <!--タイムライン投稿フォーム-->
    <h1>タイムライン投稿</h1>
    <%= form_with model: [@post, @patient], local:true do |f| %>
      <%= f.file_field :image %>
      <h4>コメントを投稿する</h4>
      <%= f.text_area :content %>
      <%= f.submit '投稿する' %>
    <% end %>
  </div>
  <!--投稿表示画面-->
  <div class="timeline-index">
    <h1>投稿画面表示</h1>
  <!--  <%# @posts.each do |post| %>-->
  <!--    <div>-->
  <!--      <p><%#= post.created_at.strftime("%Y-%m-%d %H:%M") %></p>-->
  <!--      <p><%#= post.user.name %>さんの投稿</p>-->
  <!--      <p><%#= post.content %></p>-->
  <!--      <%# if post.image.attached? %>-->
  <!--        <%#= image_tag post.image.variant(resize:'300x300') %>-->
  <!--      <%# end %>-->
  <!--    </div>-->
  <!--  <%# end %>-->
  </div>

</div>