<div class = "col-md-8 offset-md-1">
  <div class="header-name">
    <%= @patient.name %>様
  </div>
  <div class="timeline-form d-flex justify-content-end">
  <!--タイムライン投稿フォーム-->
    <div class="col-md-8 clearfix">
      <div class="float-right test-box">
        <h2>タイムライン投稿</h2>
        <h6>※写真形式はjpeg,pngしか投稿できません</h6>
        <%= form_with model: @post, url: patient_posts_path(@patient.id), local:true do |f| %>
          <%= f.file_field :image %>
          <h4>コメントを投稿する</h4>
          <%= f.text_area :content %>
          <%= f.submit '投稿する' %>
        <% end %>
      </div>
    </div>

    <div class="timeline-index col-md-6 offset-md-1 ">
      <table>
        <% @posts.each do |post| %>
          <tr><td>投稿日時：<%= link_to post.created_at.strftime("%Y-%m-%d %H:%M"), patient_post_path(patient_id: @patient.id, id: post.id) %></td></tr>
          <tr><td><%= post.user.name %>さんの投稿</td></tr>
          <tr><td><%= post.content %></td></tr>
          <tr><td>
            <% if post.image.attached? %>
              <%= image_tag post.image.variant(resize:'300x300') %>
            <% else %>
               <%= image_tag 'no_image.jpg' %>
            <% end %>
          </td></tr>
        <% end %>
      </table>
    </div>
  </div>
</div>