<div class = "col-lg-6 md-6 sm-6 offset-md-1">
 <%= render 'patients/information' %>
   <div>
    <h2>投稿内容</h2>
     <table class="post-index">
      <p>投稿日時：<%= @post.created_at.strftime("%Y-%m-%d %H:%M") %></p>
      <p>投稿者：<%= @post.user.name %>さん</p>
        <tr><td><%= @post.content %></td></tr>
        <tr><td>
        <% if @post.image.attached? %>
          <%= image_tag @post.image.variant(resize:'300x300') %>
        <% else %>
           <%= image_tag 'no_image.jpg', resize:'100x100' %>
        <% end %>
        </td></tr>
        <% if @post.user.id == current_user.id %>
          <tr><td>
            <%= link_to '編集する', edit_patient_post_path(patient_id: @post.patient_id, id: @post.id), class: "btn btn-success text-white" %>
            <%= link_to '削除する', patient_post_path(patient_id: @post.patient_id, id: @post.id), class: "btn btn-danger text-white", method: :delete, data: { confirm: '本当に削除しますか?' } %>
          </td></tr>
        <% end %>
     </table>
     <table class="table">
        <!--投稿に対するコメント新規作成-->
        　<tr><td>
        　  <!--非同期通信にするために local:true 削除-->
            <%= form_with(model: @post_comment, url: patient_post_post_comments_path(@patient.id, @post.id)) do |f| %>
            　<%= f.text_area :comment, rows:'3',placeholder: "コメント入力をここに" %>
            　<%= f.submit "送信する" %>
            <% end %>
        　</td></tr>
        <!--コメントの一覧-->
        <div>
            <%= render 'post_comments/index', post: @post, post_comment: @post_comment %>
        </div>
     </table>
      <%= link_to "他のタイムラインをみる", patient_posts_path(@patient.id) %>
   </div>
</div>