<div class = "col-md-4 offset-md-1">
 <%= render 'patients/information' %>
   <div>
    <h2>投稿内容</h2>
     <table>
      <p>投稿日時：<%= @post.created_at.strftime("%Y-%m-%d %H:%M") %></p>
      <p>投稿者：<%= @post.user.name %></p>
        <tr><td><%= @post.content %></td></tr>
        <tr><td>
        <% if @post.image.attached? %>
          <%= image_tag @post.image.variant(resize:'300x300') %>
        <% else %>
           <%= image_tag 'no_image.jpg' %>
        <% end %>
        </td></tr>
        <% if @post.user.id == current_user.id %>
          <tr><td>
            <%= link_to '編集する', edit_patient_post_path(patient_id: @post.patient_id, id: @post.id), class: "btn btn-success text-white" %>
            <%= link_to '削除する', patient_post_path(patient_id: @post.patient_id, id: @post.id), class: "btn btn-danger text-white", method: :delete, data: { confirm: '本当に削除しますか?' } %>
          </td></tr>
        <% end %>
        <div>
        　<tr><td>
            <%= form_with(model:[@patient, @post, @post_comment], local: true) do |f| %>
            　<%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
            　<%= f.submit "送信する" %>
            <% end %>
        　</td></tr>
         </div>
     </table>
    </div>
    <div>
      <%= link_to "他の投稿をみる", patient_posts_path(@patient.id) %>
    </div>
  </div>