<header class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
  <div class="container">
   <div class="navbar-brand d-block">
     <%= link_to root_path do %>
      <%= image_tag 'image/twitter_header_photo_1.png', size: "100x80", alt: "アイコン" %>
     <% end %>
   </div>

  <nav>
    <div class="navbar-nav ml-auto">
     <div class="navbar nav-left" id="navbarToggleExternalContent">
      <!--ご家族がログインした時-->
      <% if user_signed_in? && current_user.genre_name = 0 %>
       <%= link_to 'タイムライン', cares_path, class: "btn btn-outline-light ms-2 btn-sm" %>
       <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-outline-light nav-menu-text ms-2 btn-sm" %>
        <div>
         <!--利用者様検索窓-->
         <%= form_with url: patients_path, method: :get, local: true  do |f| %>
         <form class="d-flex align-items-end flex-column bd-highlight mb-3" >
          <div class="input-group mt-auto p-2 bd-highlight">
           <input type="search" class="form-control mr-sm-2" placeholder="検索">
            <div class="input-group-btn">
             <%= select_tag :model, options_for_select([['利用者様'], ['利用者様番号']]) %>
              <%= select_tag :method, options_for_select([["完全一致","perfect"],["前方一致","front"],["後方一致","back"],["部分一致","part"]]) %>
              <%= submit_tag "検索" %>
            </div>
           </div>
          </form>
        </div>
        <% end %>
     <!--ご家族様以外がログインした時-->
      <% elsif user_signed_in? && current_user.genre_name = 1 %>
       <%= link_to '基本情報   ', cares_path, class: "btn text-warning ms-2 btn-sm" %>
       <%= link_to 'タイムライン', cares_path, class: "btn text-warning ms-2 btn-sm" %>
       <%= link_to 'カレンダー  ', cares_path, class: "btn text-warning ms-2 btn-sm" %>
       <%= link_to 'データ ', cares_path, class: "btn text-warning ms-2 btn-sm" %>
       <%= link_to '記録     ', cares_path, class: "btn text-warning ms-2 btn-sm" %>
       <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-outline-light text-white ms-2 btn-sm" %>
      <% else %>
        <%= link_to '新規登録', new_user_registration_path,class: "btn btn-outline-light text-warning ms-4 btn-sm" %>
        <%= link_to 'ログイン', new_user_session_path,class: "btn btn-outline-light text-warning ms-4 btn-sm" %>
      <% end %>
      </div>
      </div>
    </nav>
  </div>
</header>
