<header class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
  <div class="container">
   <div class="navbar-brand d-block">
     <%= link_to root_path do %>
      <%= image_tag 'image/twitter_header_photo_1.png', size: "100x80", alt: "アイコン" %>
     <% end %>
   </div>
   <nav>
     <div class="navbar-nav ml-auto">
      <div class="navbar nav-left" id="navbarToggleExternalContent">
       <% if user_signed_in? %>
        <%= link_to '利用者様検索', search_path, class: "btn btn-outline-light text-white ms-2 btn-sm" %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-outline-light text-white ms-2 btn-sm" %>
       <% else %>
         <%= link_to '新規登録', new_user_registration_path,class: "btn btn-outline-light text-warning ms-4 btn-sm" %>
         <%= link_to 'ログイン', new_user_session_path,class: "btn btn-outline-light text-warning ms-4 btn-sm" %>
       <% end %>
      </div>
     </div>
   </nav>
 </div>
</header>
